{% extends "base.twig" %} {% block body %}
<div class="row title">
  <div class="columns small-12">
    <h3>Sign Up</h3>
  </div>
</div>

{% if return.result == 'success' %}
<div class="row">
  <div class="columns small-12 callout success">
    <p><i class="fas fa-exclamation-triangle"></i> Sign up was successful, you will be emailed a verification link. Activation is required before log in.</p>
    <p></p>
  </div>
</div>
{% endif %}

{% if return.errors %}
<div class="row">
  <div class="columns small-12 callout alert">
    <p><i class="fas fa-exclamation-triangle"></i> There are some errors in your Sign Up form.</p>
    <ul class="no-bullet">
        {% for error in return.errors %}
          <li> - {{ error }}</li>
        {% endfor %}
    </ul>
  </div>
</div>
{% endif %}

<div class="row">
  <form class="columns small-12 form wrapper" action="/sign-up" method="POST" data-abide>

      <div data-abide-error class="alert callout" aria-live="assertive" style="display: none;">
          <p><i class="fas fa-exclamation-triangle"></i> There are some errors in your Sign Up form.</p>
      </div>

      <div class="row">
        <div class="columns small-12">
          <h5>Contact Information</h5>
        </div>
      </div>

      <div class="row">
        <div class="columns small-12 large-6">
          <label>
            First Name
            <input type="text" id="user_firstname" name="user_firstname" placeholder="First Name" maxlength="24" value="{{ return.user.user_firstname }}" aria-describedby="error_user_firstname" required/>
            <span id="error_user_firstname" class="form-error"><i class="fas fa-exclamation"></i> <b>First Name</b> field is required.</span>
          </label>
        </div>

        <div class="columns small-12 large-6">
          <label>
            Last Name
            <input type="text" id="user_lastname" name="user_lastname" placeholder="Last Name" maxlength="24" aria-describedby="error_user_lastname" value="{{ return.user.user_lastname }}" required/>
            <span id="error_user_lastname" class="form-error"><i class="fas fa-exclamation"></i> <b>Last Name</b> field is required.</span>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="columns small-12 large-6">
          <label>
            Email Address
            <input type="text" id="user_email" name="user_email" placeholder="Email" maxlength="48" aria-describedby="error_user_email" value="{{ return.user.user_email }}" required/>
            <span id="error_user_email" class="form-error"><i class="fas fa-exclamation"></i> <b>Email Address</b> field is required.</span>
          </label>
        </div>

        <div class="columns small-12 large-6">
          <label>
            Phone Number
            <input type="text" id="user_phone" name="user_phone" placeholder="Phone" maxlength="11" aria-describedby="error_user_phone" value="{{ return.user.user_phone }}" required/>
            <span id="error_user_phone" class="form-error"><i class="fas fa-exclamation"></i> <b>Phone Number</b> field is required.</span>
          </label>
        </div>
      </div>

      <div class="row">
        <div class="columns small-12 large-6">
          <label>
            Password
            <input type="password" id="user_password" name="user_password" placeholder="Password" maxlength="8" aria-describedby="error_user_password" value="{{ return.user.user_password }}" required/>
            <span id="error_user_password" class="form-error"><i class="fas fa-exclamation"></i> <b>Password</b> field is required.</span>
          </label>
        </div>

        <div class="columns small-12 large-6">
          <label>
            Confirm Password
            <input type="password" id="user_password_confirm" name="user_password_confirm" placeholder="Confirm Password" maxlength="8" aria-describedby="error_user_password_confirm" value="{{ return.user.user_password_confirm }}" required/>
            <span id="error_user_password_confirm" class="form-error"><i class="fas fa-exclamation"></i> <b>Password Confirmation</b> field is required.</span>
          </label>
        </div>
      </div>

      <input type="hidden" name="csrf_name" value="{{ return.csrf_name }}">
      <input type="hidden" name="csrf_value" value="{{ return.csrf_value }}">

      <div class="row">
        <div class="columns small-12">
          <button type="submit" class="button expanded">Submit</button>
        </div>
      </div>
  </form>
</div>

{% endblock %} 
{% block javascripts %} 
{% endblock %} 
{% block javascripts_footer %}
<script>
  /*
    var unsaved = false;
    $(":input").change(function(){
        unsaved = true;
    });
    function unloadPage(){ 
        if(unsaved){
            return "You have unsaved changes on this page. Do you want to leave this page and discard your changes or stay on this page?";
        }
    }
    window.onbeforeunload = unloadPage;
  */
</script>
{% endblock %}
